.todoList {
    display: flex;
    flex-direction: column;
}
.item {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    padding: 6px;
    width: 300px;
    text-shadow: 1px 1px #222222;
    color: darkred;
}
.item:hover {
    background-color: #9763E6;
    border-radius: 15px;
    color: antiquewhite;
}